In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import recall_score
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('final_training_data.csv')
df.head()

,symptome 2,symptome 3,symptome 4,symptome 5,symptome 6,symptome 7,symptome 8,symptome 9,Sex,Age,...,Single,Widowed,Africa,Antarctica,Asia,Europe,North America,Oceania,South America,Smallpox
0,1,1,1,1,0,1,0,0,1,62,...,1,0,1,0,0,0,0,0,0,1
1,1,0,0,0,1,1,1,1,1,62,...,0,1,0,0,0,0,0,1,0,1
2,1,0,0,1,1,1,0,0,0,33,...,1,0,0,0,1,0,0,0,0,0
3,1,1,1,1,0,0,0,1,0,46,...,0,0,0,0,1,0,0,0,0,1
4,1,1,1,0,1,0,1,1,1,19,...,0,0,1,0,0,0,0,0,0,1

In [3]:
y = df.Smallpox
y

0        1
1        1
2        0
3        1
4        1
        ..
17495    1
17496    0
17497    1
17498    1
17499    1
Name: Smallpox, Length: 17500, dtype: int64

In [4]:
X = df.drop('Smallpox',axis = 1)
X

,symptome 2,symptome 3,symptome 4,symptome 5,symptome 6,symptome 7,symptome 8,symptome 9,Sex,Age,...,Married,Single,Widowed,Africa,Antarctica,Asia,Europe,North America,Oceania,South America
0,1,1,1,1,0,1,0,0,1,62,...,0,1,0,1,0,0,0,0,0,0
1,1,0,0,0,1,1,1,1,1,62,...,0,0,1,0,0,0,0,0,1,0
2,1,0,0,1,1,1,0,0,0,33,...,0,1,0,0,0,1,0,0,0,0
3,1,1,1,1,0,0,0,1,0,46,...,0,0,0,0,0,1,0,0,0,0
4,1,1,1,0,1,0,1,1,1,19,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17495,0,1,1,1,0,1,0,0,0,28,...,0,1,0,0,0,1,0,0,0,0
17496,0,1,1,0,1,0,1,1,0,51,...,0,0,1,0,0,0,1,0,0,0
17497,0,1,1,1,1,0,0,1,1,58,...,0,0,0,0,0,1,0,0,0,0
17498,0,1,1,1,0,0,0,0,0,42,...,0,0,0,1,0,0,0,0,0,0
17499,1,0,0,1,0,1,0,1,0,35,...,0,0,0,1,0,0,0,0,0,0

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score,recall_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [64]:

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [65]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=56)
neigh.fit(X_train, y_train)
knnpred= neigh.predict(X_test)

In [66]:
print("Accuracy_Score =", format(metrics.accuracy_score(y_test, knnpred)))

Accuracy_Score = 0.6828571428571428

In [67]:
#recall
metrics.recall_score(y_test, knnpred)

0.890270990670813

## final preds

In [68]:
final_df = pd.read_csv("pred_on_this.csv")
final_df.head()

,symptome 2,symptome 3,symptome 4,symptome 5,symptome 6,symptome 7,symptome 8,symptome 9,Sex,Age,...,Married,Single,Widowed,Africa,Antarctica,Asia,Europe,North America,Oceania,South America
0,0,0,1,0,1,0,0,0,1,35,...,0,0,1,1,0,0,0,0,0,0
1,1,1,1,0,1,0,0,1,0,50,...,0,0,0,0,0,0,0,1,0,0
2,1,0,0,1,0,1,1,0,0,33,...,0,1,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,1,1,1,49,...,0,0,1,0,0,0,0,0,1,0
4,1,1,1,0,1,0,0,0,1,50,...,0,1,0,0,0,1,0,0,0,0

In [69]:
final_X = final_df
final_X.head()

,symptome 2,symptome 3,symptome 4,symptome 5,symptome 6,symptome 7,symptome 8,symptome 9,Sex,Age,...,Married,Single,Widowed,Africa,Antarctica,Asia,Europe,North America,Oceania,South America
0,0,0,1,0,1,0,0,0,1,35,...,0,0,1,1,0,0,0,0,0,0
1,1,1,1,0,1,0,0,1,0,50,...,0,0,0,0,0,0,0,1,0,0
2,1,0,0,1,0,1,1,0,0,33,...,0,1,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,1,1,1,49,...,0,0,1,0,0,0,0,0,1,0
4,1,1,1,0,1,0,0,0,1,50,...,0,1,0,0,0,1,0,0,0,0

In [70]:
final_knnpred= neigh.predict(final_X)

/home/adham/anaconda3/envs/image_processing/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [71]:
final_knnpred_df = pd.DataFrame(final_knnpred)
final_knnpred_df.head()

   0
0  1
1  1
2  1
3  1
4  1

In [72]:
final_knnpred_df.to_csv('final_preds3_knn.csv')